<br>
<br>
<div class="container" >
   <div id="table-div">
    <span class = "table-buttons">
      <h3>Datos Personales</h3>
    </span>
    <table class="table">
       <thead>
        <div class="row">
        <th class="col-md-6"></th>
        <th class="col-md-4"></th>
        </div>
      </thead> 
      <tbody>
        <tr>
          <td> <strong>Nombre</strong></td>
          <td> <%= current_user.name %>  </td>
        </tr>
        <tr>
          <td> <strong>Teléfono</strong></td>
          <td> <%= current_user.phone %></td>
        </tr>
        <tr>
          <td> <strong>Correo</strong></td>
          <td><%= current_user.email %></td>
        </tr>
        <tr>
          <td> <strong>Estado</strong></td>
          <td><%= current_user.state %></td>
        </tr>
        <tr>
          <td> <strong>RFC</strong></td>
          <td><%= current_user.rfc %></td>
        </tr>
      </tbody>
    </table>
  </div> 

 <div id="table-div">
    <span class = "table-buttons">
      <h3>Estado de Cuenta</h3>
    </span>
    <table class="table">
       <thead>
        <div class="row">
        <th class="col-md-6"></th>
        <th class="col-md-4"></th>
        </div>
      </thead> 
      <tbody>
        <tr>
          <td> <strong>Plan:</strong></td>
          <td> Ninguno</td>
        </tr>
        <tr>
          <td> <strong>Fecha de Pago:</strong></td>
          <td>-</td>
        </tr>
        <tr>
          <td> <strong>Fecha de Vencimiento:</strong></td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="table-div">
  <h3>Historial de Cobro</h3>
    <table class="table">
      <thead>
        <div class="row">
        <th class="col-md-3">Plan</th>
        <th class="col-md-3">Fecha de Pago</th>
        <th class="col-md-3">Fecha de Terminación</th>
        </div>
      </thead>
      <tbody>
        <tr>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
