  <br><br><br>
  <div class="container">
  <form>
  <div class="flex-v-center">
    <div class="form-group">
      <label for="exampleInputFile" style="padding-bottom:15px">Ingresa el archivo</label>
      <%= form_tag({action: :index}, multipart: true) do %>
        <%= file_field_tag :factura %>
        <%= submit_tag %>
      <% end %>
    </div>
    
    <div class="form-group">
        <label for="exampleInputFile">Tipo de Factura</label>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Emitida
          </label>
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
            Recibida
          </label>
        </div>
    </div>

  </div>

<div class="row">
  <div id="table">
      <table class="table">
        <thead>
          <th class="col-md-1">Datos</th>
          <th class="col-md-1"></th>
        </thead>
        <tbody>
        <tr><strong> Vista Previa: </strong></tr>
        <tr>
            <textarea class="form-control" placeholer="Message"rows="10" disabled>
              <%= @root %>
            </textarea>
        </tr>
        <tr>
          <td><strong>Emisor:</strong></td>
          <td><%= @nombreEmisor %></td>
        </tr>
        <tr>
          <td><strong>RFC del Emisor:</strong></td>
          <td><%= @rfcEmisor %></td>
        </tr>
        <tr>
          <td><strong>Receptor:</strong></td>
          <td><%= @nombreReceptor %></td>
        </tr>
        <tr>
          <td><strong>RFC del Receptor:</strong></td>
          <td><%= @rfcReceptor %></td>
        </tr>
        <tr>
          <td><strong>subTotal:</strong></td>
          <td><%= @subtotal %></td>
        </tr>
        <tr>
          <td><strong>IVA:</strong></td>
          <td><%= @iva %></td>
        </tr>
        <tr>
          <td><strong>Total:</strong></td>
          <td><%= @pagoTotal %></td>
        </tr>
      </tbody>
      </table>
  </div>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>