  <br><br><br>
  <div class="container">
  <form>

<div class="row">
  <div id="table">
      <table class="table">
        <thead>
          <th class="col-md-1">Datos</th>
          <th class="col-md-1"></th>
        </thead>
        <tbody>
        <tr><strong> Vista Previa: </strong></tr>
        <tr>
            <textarea class="form-control" placeholer="Message"rows="10" disabled>
              <%= @root %>
            </textarea>

        </tr>
        <tr>
          <td><strong>Concepto:</strong></td>
          <td><%= @concepto[0]%></td>
        </tr>
        <tr>
          <td><strong>Añadida en:</strong></td>
          <td><%= Date.parse(@date.to_s()).strftime("%e / %m / %Y") %></td>
        </tr>
        <tr>
          <td><strong>Emisor:</strong></td>
          <td><%= @emisor[0]%></td>
        </tr>
        <tr>
          <td><strong>RFC del Emisor:</strong></td>
          <td><%= @rfcReceptor[0]%></td>
        </tr>
        <tr>
          <td><strong>Receptor:</strong></td>
          <td><%= @receptor[0]%></td>
        </tr>
        <tr>
          <td><strong>RFC del Receptor:</strong></td>
          <td><%= @rfcReceptor[0] %></td>
        </tr>
        <tr>
          <td><strong>subTotal:</strong></td>
          <td><%= @subtotal[0] %></td>
        </tr>
        <tr>
          <td><strong>IVA:</strong></td>
          <td><%= @iva[0] %></td>
        </tr>
        <tr>
          <td><strong>Total:</strong></td>
          <td><%= @total[0] %></td>
        </tr>
      </tbody>
      </table>
  </div>
</div>

</form>
</div>