<div id="navigation" class="navbar-inverse navbar-fixed-top animated-header">
           
         <div class="container">
                <div class="navbar-header">
                    <!-- responsive nav button -->
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
                    </button>
					<!-- /responsive nav button -->

					<!-- logo -->
					<h1 class="navbar-brand">
						<a href="#body">ccd</a>
					</h1>
					<!-- /logo -->
                </div>

				<!-- main nav -->
                <nav class="collapse navbar-collapse navbar-right" role="navigation">
                    <ul id="nav" class="nav navbar-nav">
                        <li><a href="#body">Inicio</a></li>
                        <li><a href="#acerca">Acerca</a></li>
                        <li><a href="#service">Servicios</a></li>
                        <li><a href="#comoFunciona">¿Cómo Funciona?</a></li>
                        <li><a href="#testimonials">Testimonios</a></li>
                        <li><a href="#price">Precios</a></li>
                        <li><a href="#contact">Contacto</a></li>

                       <!--  <div class="dropdown" style="line-height: 50px;">
						  <li onclick="myFunction()" style="padding-bottom: 15px; font-size: 15px; color:white; text-transform: uppercase; border: none; cursor: pointer; padding-left:15px; padding-right:15px;" class="dropbtn">Acciones</li>
						  <div id="myDropdown" class="dropdown-content">
						  	<a href="#">Mi Perfil</a>
						    <a href="#">Subir Facturas</a>
						    <a href="#">Ver Facturas</a>
						  </div>
						</div> -->

                        <li><a data-toggle="modal" data-target="#loginModal" style="cursor: pointer; ">Iniciar Sesion</a></li>
                </nav>
				<!-- /main nav -->

			<!-- START OF LOGIN MODAL -->
				<div id="loginModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Iniciar Sesión</h4>
				      </div>
				      <div class="modal-body">
				        <%= form_for(:user, url: "/users/sign_in", method: :post) do |f| %>
					  <div class="field form-group">
					    <%= f.label :email%><br/> 
					    <%= f.text_field :email, autofocus: true, placeholder: "Email", required: true, class: "form-control" %>
					  </div>

					  <div class="field form-group">
					  gvhhvgv
					    <%= f.label :password %><br />
					    <%= f.password_field :password, placeholder: "Password", class: "form-control"%>
					  </div>

					    <div class="field form-group">
					      <%= f.check_box :remember_me %>
					      <%= f.label :remember_me %>
					    </div>

					  <div class="actions">
					    <%= f.submit "Iniciar Sesión" %>
					  </div>
					<% end %>
						<button type="button" class="btn btn-link" data-toggle="modal" data-target="#registrationModal" style="cursor: pointer; ">Registrarse</button>
 
				      </div>



				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				      </div>
				    </div>
				  </div>
				</div

			

			<!-- START OF REGISTER MODAL -->
				<div id="registrationModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">
				<!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Registrarse</h4>
				      </div>
				      <div class="modal-body">
				        <form>
				          <div class="form-group">
						    <p> Porfavor ingresa todos los datos que se piden a continuación para poder registrarse al sistema </p>
						  </div>
						  <div class="form-group">
						    <label for="Name">Nombre</label>
						    <input type="text" class="form-control" id="username" placeholder="Nombre">
						  </div>
						   <div class="form-group">
						    <label for="lastName">Apellido</label>
						    <input type="text" class="form-control" id="lastName" placeholder="Apellidos">
						   </div>
						   <div class="form-group">
						    <label for="lastName">Dirección</label>
						    <input type="text" class="form-control" id="street" placeholder="Calle">
						    <input type="text" class="form-control" id="number" placeholder="Número de casa">
						    <input type="text" class="form-control" id="colonia" placeholder="Colonia">
						    <input type="text" class="form-control" id="postalCode" placeholder="Código Postal">
						    <input type="text" class="form-control" id="state" placeholder="Estado">
						   </div>
						   <div class="form-group">
						    <label for="lastName">Teléfono</label>
						    <input type="text" class="form-control" id="phoneNumber" placeholder="Número de Teléfono">
						   </div>
						   <div class="form-group">
						    <label for="email">Correo</label>
						    <input type="text" class="form-control" id="lastName" placeholder="nombre@gmail.com">
						   </div>
						  <div class="form-group">
						    <label for="exampleInputPassword1">Contraseña</label>
						    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
						  </div>

						  <button type="submit" class="btn btn-primary">Registrarse</button>
						</form>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				      </div>
				    </div>

				  </div>
				</div>
			<!-- END OF MODAL -->

            </div>
            </div>